@tailwind base;
@tailwind components;
@tailwind utilities;




#hero {
  background-color: #edf2f6;
}

.tro{
  position: relative;
}

#trouble {
background-position: center;
background-repeat: none;
background-size: cover;
background-image: url(https://media.istockphoto.com/id/1186288524/photo/stethoscope-on-pastel-blue-table-doctor-tool-healthcare-concept-empty-place-for-text-flat-lay.jpg?s=1024x1024&w=is&k=20&c=XNWdx9Pk2szIt5fvNqai1S3yfM0nR1tMvtaXqwqBlGM=);

}
